---
- name: Enable internel service
  hosts: serverb.lab.example.com
  become: true
  tasks:
    - name: Latest version of all required packages installed
      yum:
        name:
          - firewalld
          - httpd
          - mariadb-server
          - php
          - php-mysqlnd
        state: latest

    - name: Firewalld enabled and running
      service:
        name: firewalld
        enabled: true
        state: started

    - name: Firewalld permits http service
      firewalld:
        service: http
        permanent: true
        state: enabled
        immediate: yes

    - name: Enable httpd enabled and running
      service:
        name: httpd
        enabled: true
        state: started

    - name: Let mariadb enabled and running
      service:
        name: mariadb
        enabled: true
        state: started

    - name: Test php page is installed
      get_url:
        url: "http://materials.example.com/labs/playbook-review/index.php"
        dest: /var/www/html/index.php
        mode: 0644


- name: Test internet web server
  hosts: localhost
  become: false
  tasks:
    - name: Connect to internet web server
      uri:
        url: http://serverb.lab.example.com
        status_code: 200

